packrat/lib*/
.Rproj.user
*.RData
*.dta
*.csv
*.zip
*.exe
*.dat
*.pdf
*.docx
*.rin
*.gz
*.RDS
NULL
*.xlsx
*.txt
*.png
*.png
/paper/ukhls_descriptives.xlsx
.Rprofile
.Rhistory
*.Rproj
*.xlsx
/paper/*.xlsx
/paper/Summary of results NW latest.xlsx
.Rhistory
.Rprofile
adaptive_simulation.Rproj
*.jpg
old syntax/*
*.Rmd
*.html
*.Rprofile
*.Rhistory
*.Rproj
